html {
    --back: whitesmoke ;  /*rgb(19, 55, 111) ;*/
    --front: gray /* #002852 */  ;
    --front2: dimgray ;
    --front3: black ;
}

body {
    font-family: 'Segoe UI', Avenir, Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--back);
    color: var(--front) ; /*rgba(255, 255, 255, 0.7);*/
    font-weight: 400 ;
    font-size: 1em ;
}

/*Titres*/
    user-name {
        text-align: right ;
        right: 0 ; 
        margin-right: 10px ;
        display: block ;
        dheight: 1em ; 
        fondt-size: 1rem ;
    }

    section.h1 {
        margin: 0 ;
        width: fit-content ;
        align-items: center ;
        text-align: center ;
    }
        h1 {
            font-size: 3em;
            transition: letter-spacing 0.5s ease-out;
            letter-spacing: initial ;
            font-weight: 500 ;
            zoutline: 1px solid yellow ;
        
        }
            h1:hover {
                transition: letter-spacing 2s ease-out;
                letter-spacing: 5px ;
            }

        marquee {
            color: royalblue ;
            font-weight: 400 ;
            font-size: 1em ;
            position: relative ;
            top: -14px ;
            z-index: -1 ;
        }

    
body>section {
    margin: 20 0 ;
}


h1, h2 {
    color: var(--front2) ;
    font-weight: 500 ;
    margin: 0 ;
}

h2 { 
    letter-spacing: 1px ;
    font-size: 1.5em
}
    h2::first-letter {
        text-transform: uppercase;
    }

ol {
    margin: 5px;
    counter-reset: li;
}
    li:hover {
        color: var(--front2) ;
    }

    ol > li {
        list-style-type: none ;
        counter-increment: li
    }
    ol > li::before {
        content: counter(li); 
        display: inline-block; width: 1em; margin-left: -1.5em;
        margin-right: 0.5em; text-align: right; direction: rtl ;
        font-size: 1em ;
    }


a.button {
    cursor: pointer ;
    color: palevioletred ;
    transition: all 0.5s ;
    font-weight: 500 ;
}
    a.button:hover {
        color: red ;
        letter-spacing: 1px ;
        transition: letter-spacing 1s ;
        transition: all 1s ;
    }

a#enroll {
    color: red ;
    text-decoration: none ;
    transition: color 0.5s ;
}
    a#enroll:hover {
        color: violet ;
        transition: color 1s ease-out;        
    }