html {
    --back: whitesmoke ;  
    --front: gray ;
    --front2: dimgray ;
    --front3: black ;
    margin: 0 ; 
    padding: 0 ;
}

body {
    font-family: 'Segoe UI', Avenir, Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--back);
    color: var(--front); 
    font-weight: 400;
    font-size: 1em;
    display: flex ;
    flex-direction: column ;
    align-content: space-between ;
    height: calc( 100vh - 5px ) ;
    zborder: 1px solid royalblue;
    margin: 0 ;
    padding: 5 10 ;
    box-sizing: border-box ;
}

/*En-tête*/
    user-name {
        text-align: right ;
        right: 0 ; 
        margin-right: 0 ;
    }

    section.h1 {
        margin: 0 ;
        width: fit-content ;
        align-items: center ;
        text-align: center ;
    }
        h1 {
            font-size: 3em;
            transition: letter-spacing 0.5s ease-out;
            letter-spacing: initial ;
            font-weight: 500 ;
            zoutline: 1px solid yellow ;
            color: var(--front2) ;
            margin: 0 ;        
        }
            h1:hover {
                transition: letter-spacing 2s ease-out;
                letter-spacing: 5px ;
            }

        marquee {
            color: royalblue ;
            font-weight: 400 ;
            font-size: 1em ;
            position: relative ;
            top: -14px ;
            z-index: -1 ;
        }


/*Section principale*/    
main {
    zoutline: 1px solid yellow ;
    z-index: 0 ;
    background-color: var(--back) ;
    height: 100% ;

}


/* Footer */
footer {
    font-size: 0.7em ;
    text-align: center ;
    color: darkgray ;
    border-top: 1px dotted gainsboro ;
    display: block ;
    text-transform: uppercase ;
    background-color: var(--back) ;
    height: 1.3em ;
    width: calc(100vw - 20px)  ;
}