:host {
    box-sizing: border-box ;
    display: block ;
    background-color: var( --back ) ;
    padding: 0 10 ;
    top: 0 ;
    left: 0 ;
    margin: 0 ;
    position: absolute ;
    height: 100vh ;
    width: 100% ;
}

h2 {
    font-weight: 500 ;
    margin: 30 0 10 ;
    color: var(--front2) ;
}

/*fermer*/
i#close {
    cursor: pointer ;
    position: fixed ;
    top: 10px ;
    right: 10px ;
    font-size: 1.2em ;
    background-color: var(--back) ;
    border-radius:50% ;
    width: 1.2em ;
    height: 1.2em ;
    text-align: center ;
    vertical-align: middle ;
    opacity: 0.8 ;
    display: inline-block ;
}
    i#close:hover {
        color: green ;
    }
    i#close:active {
        color: red ;
    }


ul {
    margin-top: 10 ;
}

li::first-letter {
    text-transform: uppercase ;
}


li {
    transition: color 0.5s ;    
}
    li:hover {
        transition: color 1s ;        
    }

li.enabled {
    cursor: pointer ;    
}

ul#election_list>li.enabled {
    color: red ;
}
    ul#election_list>li.enabled:hover {
        color: green ;
    }

ul#chosen_elections>li.enabled {
    color: green ;
}
    ul#chosen_elections>li.enabled:hover {
        color: red ;
    }