:host {
    font-size: 1em ;
}

a.button {
    cursor: pointer ;
    color: red ;
    transition: all 0.5s ;
    font-weight: 500 ;
}
    a.button:hover {
        letter-spacing: 1px ;
        transition: letter-spacing 1s ;
        transition: all 1s ;
    }

a.user {
    color: royalblue ;
    transition: all 0.5s ;
    cursor: pointer ;
    font-weight: 500 ;
}
    a.user:hover {
        color: green ;
        fletter-spacing: 1px ;
        etransition: letter-spacing 1s ;
        transition: all 1s ;
    }